# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


#user specific pydev project settings
.pydevproject
.project
.settings

# Ignore python rope directories
.ropeproject

# Ignore IntelliJ project folder
.idea

.ipynb_checkpoints


/VIGOR/experiments/*
/VIGOR/trajectory_bc_baselines/*err*
/VIGOR/trajectory_bc_baselines/*out*
/VIGOR/debug/
/VIGOR/wandb/
/VIGOR/environments/panda_reacher/raw_demonstrations/
/VIGOR/environments/box_pusher/raw_demonstrations/*
/VIGOR/preprocessing/box_pusher/intermediate_data/trajectory/*
/VIGOR/preprocessing/box_pusher/intermediate_data/mujoco_trajectory/*
/VIGOR/preprocessing/box_pusher/intermediate_data/taskspace_executed.npz
/VIGOR/preprocessing/box_pusher/intermediate_data/jointspace_executed.npz

/StateActionBaselines/experiments/
/StateActionBaselines/reports/
/StateActionBaselines/recordings/
/StateActionBaselines/wandb/
/StateActionBaselines/models/

# VSCODE
.vscode
.env
/VIGOR/playground/box_pushing/push_exp_data/
